a {
	text-decoration: none;
	color: $color-primary;
	transition: color .2s linear;
}
a:hover {
	color: $color-secondary;
}

.bg-highlight a {
	color: #fff;
}

button,
.button,
.btn {
	padding: .5em 1em;
	border: 1px solid $color-primary;
	color: $color-primary;
	display: inline-block;
	min-width: 10em;
	text-align: center;
	transition: color .2s linear, border-color .2s linear;
}
button:hover,
.button:hover,
.btn:hover,
.fake-button:hover .button,
.fake-button:hover .btn {
	border-color: $color-secondary;
	color: $color-secondary;
}

button.secondary,
.button.secondary,
.btn.secondary {
	border-color: $color-secondary;
	color: $color-secondary;
	transition: background-color .2s linear;
}
button.secondary:hover,
.button.secondary:hover,
.btn.secondary:hover,
.fake-button:hover .button.secondary,
.fake-button:hover .btn.secondary {
	background-color: $color-secondary;
	color: #fff;
}

// .fake-button?!? so you can do this: https://codepen.io/zenman-productions/pen/yqWydQ

.button-group {
	// not setting display: flex so you can add .horiz or not depending on your own layout
	justify-content: center;
	align-items: center;
	margin: 0; // cancel owl because the buttons themselves will have margins set below
}
.button-group > * {
	margin: 1.5em .75em;
}
