# OSX system files
.DS_Store
.AppleDouble
._*

# Windows system files
Thumbs.db

# build tools
node_modules
.sass-cache
*.log

# compiled assets
lib/js/*
lib/assets/*
lib/*.css
*.map

# keep intentionally empty folders
!.gitkeep
