.content-width {
	width: 100%;
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
}

.less-wide {
	width: 80%;
	max-width: $content-width * $less-wide-factor;
	margin-left: auto;
	margin-right: auto;
}

// to account for the left and right padding on .content-width, we need to break after incorporating that padding
// NOTE: this means $content-width and the math immediately below need to be the same units (see base/_variables.scss)
@media (min-width: $content-width + 2em){
	.content-width {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: $content-width * $more-wide-factor){
	.wider {
		max-width: $content-width * $more-wide-factor;
		margin-left: auto;
		margin-right: auto;
	}
}

.section {
	margin-top: 0;
	padding-top: 3em;
	padding-bottom: 3em;
}

.bg-alt {
	background-color: $color-bg-alt;
}
.bg-highlight {
	background-color: $color-primary;
	color: #fff;
}

// sticky footer

body {
	display: flex;
	flex-direction: column;
}
.site-main {
	flex: 1 0 auto;
}
header.main,
footer.main {
	flex-shrink: 0; // IE11 gets aggressive
}
