/*------------------------------------*\
    ::Footer
\*------------------------------------*/
@include nested-nav($nav-container: '.main-foot--nav'); //add basic nested footer navigation styling
@include sticky-footer(
    $footer-height:         200px,              //height of the footer
    $wrap-element:          '.wrap',            //wrapper of all but the footer
    $container-element:     '[class~="main"]',   //element the footer will bump into
    $footer-element:        '.main-foot',       //the footer element
    $footer-inner-element:  '.main-foot--nav'   //optional: inner footer element
);