/*------------------------------------*\
    ::Nav in the Header
\*------------------------------------*/
.head-nav {
	@include nav(
	    $type: 'dropdown',           		//nav type: dropdown or nested
	    $fade: .3s,                  		//fade speed (take out for no animation)
	    $easy-hover: 50px,           		//amount of invisible overflow for sub menu (take out to not use)
	    $easy-hover-top: 1.2em       		//set top easy-hover value (you can also set $easy-hover-right, -bottom, and -left separately)
	);
}