.post-content {
	// WYSIWYG paragraphs are inconsistent, so make BRs act like Ps
	br {
		display: block;
		margin-top: 1.5em;
	}

	ul ul {
		margin-left: 1.5em;
	}

	// clearfix all the WYSIWYGs because you never know what floaty things they'll get up to
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.page-numbers {
	margin: 0 .75em;
}
