/*------------------------------------*\
    ::Mixins
    ----------------------------------*
    ::Placeholder Color
    ::@Font Face Shortener
    ::Media Queries
    ::Changing grid-column to col
    ::Sticky Footer
    ::Nav
\*------------------------------------*/

/*------------------------------------*\
    ::Placeholder Color
\*------------------------------------*/
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/*------------------------------------*\
    ::@Font Face Shortener
\*------------------------------------*/
//Usage:
//Descript:
@mixin font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
    @font-face {
        font-family: '#{$font-family}';

        src: font-url('#{$font-filename}.eot');
        src: font-url('#{$font-filename}.eot?#iefix') format('embedded-opentype'),
            font-url('#{$font-filename}.woff') format('woff'),
              font-url('#{$font-filename}.ttf') format('truetype'),
              font-url('#{$font-filename}.svg##{$font-family}') format('svg');

        font-weight: $font-weight;
        font-style: $font-style;
        font-stretch: $font-stretch;
    }
}

/*------------------------------------*\
    ::Media Queries
\*------------------------------------*/
//Usage:
// @include bp($max: 600px){ body { background:#000 } }
// @include bp($min: 600px){ body { background:#fff } }
// @include bp($min: 600px, $max: 600px){ body { background:#000 } }
// @include bp($planetary){ body { background:#fff } }

@mixin bp($media: false, $min: false, $max: false) {
    @if $media {
        @media only screen and (max-width: $media) { @content; }
    }
    @else if $min and $max {
        @media only screen and (min-width: $min) and (max-width: $max) { @content; }
    }
    @else if $min {
        @media only screen and (min-width: $min) { @content; }
    }
    @else if $max {
        @media only screen and (max-width: $max) { @content; }
    }

}

/*------------------------------------*\
    ::Changing grid-column to col
\*------------------------------------*/

//Just @include col(x);
@mixin col($columns, $last-column:false, $center:false, $offset:false, $push:false, $pull:false, $collapse:false, $float:left) {
    @include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);
}

/*------------------------------------*\
    ::Sticky Footer
\*------------------------------------*/

// Use this mixin to make the footer sticky.
// Just add the following line somewhere in your stylesheet:
//
//      @include sticky-footer($footer-height:200px);
//

@mixin sticky-footer(
    $wrap: '.sticky-footer',
    $row:  '.sticky-footer__row',
    $flex: '.sticky-footer__row--flex'){

    html, body {
        height: 100%;
    }
    #{$wrap} {
        display: table;
        height: 100%;
        width: 100%;
    }
    #{$row} {
        display: table-row;
        height: 1px;
    }
    #{$flex} {
        height: auto;
    }
}

/*------------------------------------*\
    ::Navigation
\*------------------------------------*/

// Use this mixin to add basic nav styling.
// Just add the following code within your styles.
//
//
//      @include nav(
//          $type: 'dropdown',          //nav type: dropdown or nested
//          $nav-container: '.nav',     //.nav by default
//          $fade: .3s,                 //fade speed (take out for no animation)
//          $easy-hover: 50px,          //amount of invisible overflow for sub menu (take out to not use)
//          $easy-hover-top: 0          //set top easy-hover value (you can also set $easy-hover-right, -bottom, and -left separately)
//      );

@mixin nav(
    $type: 'dropdown',
    $nav-container: '.nav',
    $fade: false,
    $easy-hover: false,
    $easy-hover-top: false,
    $easy-hover-right: false,
    $easy-hover-bottom: false,
    $easy-hover-left: false
){
    @if $type == dropdown {
        #{$nav-container} {
            position: relative;
            z-index: 10;
            ul {
                li {
                    display: block;
                    float: left;
                    list-style: none;
                }
                ul {
                    visibility: hidden;
                    padding: 0;
                    @if $fade {
                        @include transition-property(#{opacity, visibility, background-color});
                        @include transition-duration(#{$fade, 0s});
                        @include transition-delay(#{0s, $fade});
                    }
                    @if $easy-hover {
                        &:after {
                            content: "";
                            position: absolute;
                            @if $easy-hover-top {
                                top: -1 * $easy-hover-top;
                            } @else {
                                top: -1 * $easy-hover;
                            }
                            @if $easy-hover-bottom {
                                bottom:  -1 * $easy-hover-bottom;
                            } @else {
                                bottom:  -1 * $easy-hover;
                            }
                            @if $easy-hover-left {
                                left:  -1 * $easy-hover-left;
                            } @else {
                                left:  -1 * $easy-hover;
                            }
                            @if $easy-hover-right {
                                right:  -1 * $easy-hover-right;
                            } @else {
                                right:  -1 * $easy-hover;
                            }
                            background-color: #000;
                            opacity: 0;
                            z-index: -1;
                        }
                    }
                }
            }
            //local nav
            li {
                ul {
                    display: block;
                    position: absolute;
                    opacity: 0;
                }
                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                        @if $fade {
                            -webkit-transition-delay: 0s, 0s;
                            -moz-transition-delay: 0s, 0s;
                            -o-transition-delay: 0s, 0s;
                            transition-delay: 0s, 0s;
                        }
                    }
                }
            }
        }
    }
    @if $type == 'nested' {
        #{$nav-container} {
            li {
                float: left;
                list-style: none;
                ul {
                    padding: 0;
                }
                li {
                    clear: both;
                }
                a {
                    display: block;
                    text-decoration: none;
                }
            }
            //global nav
            ul {
                //local nav
                ul {
                    padding:0;
                    li {
                        float: left;
                        clear: both;
                    }
                }
            }
        }
    }
}