/*------------------------------------*\
    ::Variables
    ----------------------------------*
    ::Colors
    ::Breakpoints
    ::Layout
    ::Text Styling
\*------------------------------------*/

/*------------------------------------*\
    ::Colors
\*------------------------------------*/

//primary colors / dark blue
$color-1:           #02101a;
$color-1-light:     lighten($color-1,20%);
$color-1-dark:      darken($color-1,20%);

//secondary colors / light blue
$color-2:           #02a0b9;
$color-2-light:     lighten($color-2,20%);
$color-2-dark:      darken($color-2,20%);

//tertiary colors / secondary global nav and secondary local nav.
$color-3:           #F79021;
$color-3-light:     lighten($color-3,20%);
$color-3-dark:      darken($color-3,20%);

//alert colors
$color-good:        #6ADE72;
$color-bad:         #DE5D5D;
$color-meh:         #EBE857;

/*------------------------------------*\
    ::Breakpoints
\*------------------------------------*/
$galaxy:        1140px;
$solarsystem:   1024px;
$interstellar:  800px;
$planetary:     520px;

/*------------------------------------*\
    ::Layout
\*------------------------------------*/
$pad:           0.9375rem;
$gap:           $pad;
$gap--baby:     $pad*2;
$gap--big:      $pad*3;

/*------------------------------------*\
    ::Text Styling
\*------------------------------------*/
//font families
$fam-heading:       din, sans-serif;
$fam-body:          muli, sans-serif;
$fam-nav:           $fam-body;