/*
 * # Media Queries source order fix for mqpacker
 * https://www.npmjs.com/package/css-mqpacker#the-first-win-algorithm
 */
@media (min-width: 50em){ html{margin: 0;} }
@media (min-width: 60em){ html{margin: 0;} }
@media (min-width: 71.25em){ html{margin: 0;} }

/*
 * # Base
 * Variables, mixins, and any rules that absolutely have to be loaded first
 */
@import "base/**/*.scss";

/*
 * # Common
 * Rules that should be fairly consistent from project to project (utility classes, framework-y things)
 */
@import "common/**/*.scss";

/*
 * # Components
 * Buttons, links, form elements, building blocks....
 */
@import "elements/**/*.scss";

/*
 * # Layouts
 * Header, footer, nav, pages, posts, modules
 */
@import "layouts/**/*.scss";

/*
 * # Vendor
 * WP-core-specific things, plugins, overrides, external dependencies, etc
 */
@import "vendor/**/*.scss";
